<div class="dropdown" [ngClass]="settings.containerClasses" [class.open]="isVisible">

    <button *ngIf="!settings.exButtonId" type="button" class="dropdown-toggle" [ngClass]="settings.buttonClasses" (click)="toggleDropdown()" [disabled]="disabled">{{ title }}<span class="caret"></span></button>

    <accordion *ngIf="isVisible" class="dropdown-menu" class ="wrapper left container">
      <ul [class.pull-right]="settings.pullRight" [class.dropdown-menu-right]="settings.pullRight" [style.max-height]="settings.maxHeight" class="sublist">

        <!-- <li class="mdropdown-item search"> -->
          <!-- <div class="input-group"> -->
            <!-- <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span> -->
            <!-- <input id="searchText" type="text" class="form-control" placeholder="{{ texts.searchPlaceholder }}" aria-describedby="sizing-addon2" (ngModelChange)="search($event)" [ngModelOptions]="{ standalone: true, debounce: 3000 }" [(ngModel)]="searchFilterText"  autofocus> -->
          <!-- </div> -->
        <!-- </li> -->

        <span class="boolean-check" *ngIf="settings.operators">
            <label class="radioLabel" *ngFor="let item of settings.operators">
                <input class="radioButton" type="radio" name="booleans" (click)="updateOperator(item.value)" [checked]="settings.operator === item.value">
                {{item.name}}
            </label>
        </span>
        <li class="mdropdown-item check-control check-control-check" *ngIf="settings.showResetAll">
          <a href="javascript:;" role="menuitem" tabindex="-1" (click)="reset()">
            <span style="width: 16px;" [ngClass]="{'glyphicon glyphicon-ok': settings.checkedStyle !== 'fontawesome','fa fa-check': settings.checkedStyle === 'fontawesome'}"></span> {{ texts.resetAll }}
          </a>
        </li>
        <li class="mdropdown-item check-control check-control-check" *ngIf="settings.showCheckAll">
          <a href="javascript:;" role="menuitem" tabindex="-1" (click)="checkAll()">
            <span style="width: 16px;" [ngClass]="{'glyphicon glyphicon-ok': settings.checkedStyle !== 'fontawesome','fa fa-check': settings.checkedStyle === 'fontawesome'}"></span> {{ texts.checkAll }}
          </a>
        </li>
        <li class="mdropdown-item check-control check-control-uncheck" *ngIf="settings.showUncheckAll">
          <a href="javascript:;" role="menuitem" tabindex="-1" (click)="uncheckAll()">
            <span style="width: 16px;" [ngClass]="{'glyphicon glyphicon-remove': settings.checkedStyle !== 'fontawesome','fa fa-times': settings.checkedStyle === 'fontawesome'}"></span> {{ texts.uncheckAll }}
          </a>
        </li>
        <li *ngIf="settings.showCheckAll || settings.showUncheckAll" class="dropdown-divider divider"></li>

      </ul>

    <accordion-group class="navGroup" *ngFor="let group of groups" [heading]="group.heading" [isOpen]="group.open">

    <ul [class.pull-right]="settings.pullRight" [class.dropdown-menu-right]="settings.pullRight" [style.max-height]="settings.maxHeight" class="sublist">
    <li class="mdropdown-item" [ngStyle]="getItemStyle(option)" *ngFor="let option of group.options" [class.dropdown-header]='option.type == "label"'>
      <ng-template [ngIf]='option.type == "label"'>{{ option.name }}</ng-template>

      <a *ngIf='option.type == "checkbox"' (click)='toggleSelected($event, group, option)' role="menuitem" tabindex="-1" [style.padding-left]="this.parents.length>0&&this.parents.indexOf(option.id)<0&&'30px'">
        <input *ngIf="settings.checkedStyle === 'checkboxes'" type="checkbox" [checked]="option.on" (click)="preventCheckboxCheck($event, option)" [disabled]="isDisabled(option)"/>
        <span *ngIf="settings.checkedStyle === 'glyphicon'" style="width: 16px;" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span>
        <span *ngIf="settings.checkedStyle === 'fontawesome'" style="width: 16px;display: inline-block;">
          <i *ngIf="isSelected(option)" class="fa fa-check" aria-hidden="true"></i>
        </span>
        <span [ngClass]="settings.itemClasses" [style.font-weight]="this.parents.indexOf(option.id)>=0?'bold':'normal'">
          {{ option.name }}
        </span>
        <img *ngIf="option.image" class="dropdown-image" src="{{option.image}}" />
      </a>

      <span *ngIf='option.type == "guardgroup"' class="guardGroup">
        <a *ngFor="let item of option.group" (click)="updateGuard($event, group, option, item)" role="menuitem" tabindex="-1" [style.padding-left]="this.parents.length>0&&this.parents.indexOf(option.id)<0&&'30px'">
          <input *ngIf="settings.checkedStyle === 'checkboxes'" type="checkbox" [checked]="item.on"  (click)="preventCheckboxCheck($event, option)" [disabled]="isDisabled(item)"/>
          <span *ngIf="settings.checkedStyle === 'glyphicon'" style="width: 16px;" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span>
          <span *ngIf="settings.checkedStyle === 'fontawesome'" style="width: 16px;display: inline-block;">
            <i *ngIf="isSelected(item)" class="fa fa-check" aria-hidden="true"></i>
          </span>
          <span [ngClass]="settings.itemClasses" [style.font-weight]="this.parents.indexOf(option.id)>=0?'bold':'normal'">
            {{ item.name }}
          </span>
          <img *ngIf="item.image" class="dropdown-image" src="{{item.image}}" />
        </a>
      </span>

      <span class="radioGroup" *ngIf='option.type == "group"'>
        <label class="radioLabel" *ngFor="let item of option.radioGroup" (click)="updateRadio($event, group, option, item)">
            <input class="radioButton" type="radio" name="{{option.name}}" (click)="updateRadio($event, group, option, item)" [checked]="item.on">
            {{ item.name }}
        </label>
      </span>


      <span class="slider" *ngIf='option.type == "slider"'>
          {{ option.name }} is a slider.
      </span>


    </li>
  </ul>
  </accordion-group>
  </accordion>
</div>
