.dropdown-header {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 28px;
  font-weight: normal;
  display: inherit;
  float: left;
  color: #777;
  background-color: #d3d3d3;
  margin: 0px;
  margin-top: 3px !important;
  margin-bottom: 3px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 24px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.panel-title {
  margin: 1px;
}

.panel-default {
  width: 100%;
}

.twistie {
  width: 24px;
  height: 24px;
}
